# qrouter runtime script for project picorv32i_ez

verbose 1
read_lef  /usr/local/share/qflow/tech/etri050/etri050_stdcells.lef
catch {layers 3}
via stack none
vdd vdd
gnd gnd
obstruction -9.0 4294.5 5817.0 4302.0 metal1
obstruction -9.0 -9.0 5817.0 1.5 metal1
obstruction -9.0 -9.0 1.5 4302.0 metal1
obstruction 5809.5 -9.0 5817.0 4302.0 metal1
obstruction 1.5 4294.5 5809.5 4302.0 metal3
obstruction 1.5 -9.0 5809.5 1.5 metal3
obstruction -9.0 1.5 1.5 4294.5 metal2
obstruction 5809.5 1.5 5817.0 4294.5 metal2
read_def picorv32i_ez.def
qrouter::standard_route picorv32i_ez_route.def false 
quit
