//File Title: Physical Constraints file
//Tool Version: V1.9.9.03
//Part Number: GW5A-LV25MG121NC2/I1
//Device: GW5A-25

//IO_LOC "IO_Req"         G5;     // J6-12
IO_LOC "load_emu"       F5;     // J6-11
IO_LOC "get_emu"        G8;     // J6-10
IO_LOC "Addr_emu[2]"    G7;     // J6-9
IO_LOC "Addr_emu[1]"    H7;     // J6-8
IO_LOC "Addr_emu[0]"    H8;     // J6-7
IO_LOC "clk_emu"        J5;     // J6-6, GCLK
IO_LOC "clk_dut"        H5;     // J6-5, GCLK

IO_LOC "Din_emu[7]"     A10;    // J5-12
IO_LOC "Din_emu[6]"     A11;    // J5-11
IO_LOC "Din_emu[5]"     E10;    // J5-10
IO_LOC "Din_emu[4]"     E11;    // J5-9
IO_LOC "Din_emu[3]"     L11;    // J5-8
IO_LOC "Din_emu[2]"     K11;    // J5-7
IO_LOC "Din_emu[1]"     K5;     // J5-6
IO_LOC "Din_emu[0]"     L5;     // J5-5

IO_LOC "Dout_emu[7]"    G10;    // J4-12
IO_LOC "Dout_emu[6]"    G11;    // J4-11
IO_LOC "Dout_emu[5]"    D10;    // J4-10
IO_LOC "Dout_emu[4]"    D11;    // J4-9
IO_LOC "Dout_emu[3]"    B10;    // J4-8
IO_LOC "Dout_emu[2]"    B11;    // J4-7
IO_LOC "Dout_emu[1]"    C10;    // J4-6
IO_LOC "Dout_emu[0]"    C11;    // J4-5

//IO_PORT "IO_Req"        IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_PORT "load_emu"      IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_PORT "get_emu"       IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_PORT "Addr_emu[2]"   IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_PORT "Addr_emu[1]"   IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_PORT "Addr_emu[0]"   IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_PORT "clk_emu"       IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_PORT "clk_dut"       IO_TYPE=LVCMOS33 PULL_MODE=NONE;

IO_PORT "Din_emu[7]"    IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_PORT "Din_emu[6]"    IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_PORT "Din_emu[5]"    IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_PORT "Din_emu[4]"    IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_PORT "Din_emu[3]"    IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_PORT "Din_emu[2]"    IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_PORT "Din_emu[1]"    IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_PORT "Din_emu[0]"    IO_TYPE=LVCMOS33 PULL_MODE=NONE;

IO_PORT "Dout_emu[7]"   IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_PORT "Dout_emu[6]"   IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_PORT "Dout_emu[5]"   IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_PORT "Dout_emu[4]"   IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_PORT "Dout_emu[3]"   IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_PORT "Dout_emu[2]"   IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_PORT "Dout_emu[1]"   IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_PORT "Dout_emu[0]"   IO_TYPE=LVCMOS33 PULL_MODE=NONE;

