//Copyright (C)2014-2024 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//Tool Version: V1.9.9.03
//Part Number: GW5A-LV25MG121NC2/I1
//Device: GW5A-25
//Device Version: B
//Created Time: Tue 05 21 23:58:01 2024

IO_LOC "clk"        H5; // GCLK
IO_LOC "reset"      H8;
IO_LOC "LoadA_i"    G7;
IO_LOC "LoadB_i"    F5;
IO_LOC "LoadCmd_i"  J5;
IO_LOC "ABCmd_i[7]" G11;
IO_LOC "ABCmd_i[6]" G10;
IO_LOC "ABCmd_i[5]" D11;
IO_LOC "ABCmd_i[4]" D10;
IO_LOC "ABCmd_i[3]" B11;
IO_LOC "ABCmd_i[2]" B10;
IO_LOC "ABCmd_i[1]" C11;
IO_LOC "ABCmd_i[0]" C10;
IO_LOC "ACC_o[7]"   A11;
IO_LOC "ACC_o[6]"   A10;
IO_LOC "ACC_o[5]"   E11;
IO_LOC "ACC_o[4]"   E10;
IO_LOC "ACC_o[3]"   K11;
IO_LOC "ACC_o[2]"   L11;
IO_LOC "ACC_o[1]"   L5;
IO_LOC "ACC_o[0]"   K5;
IO_LOC "Done_o"     H7;

IO_PORT "clk"           IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_PORT "reset"         IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_PORT "LoadA_i"       IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_PORT "LoadB_i"       IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_PORT "LoadCmd_i"     IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_PORT "ABCmd_i[7]"    IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_PORT "ABCmd_i[6]"    IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_PORT "ABCmd_i[5]"    IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_PORT "ABCmd_i[4]"    IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_PORT "ABCmd_i[3]"    IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_PORT "ABCmd_i[2]"    IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_PORT "ABCmd_i[1]"    IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_PORT "ABCmd_i[0]"    IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_PORT "ACC_o[7]"      IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_PORT "ACC_o[6]"      IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_PORT "ACC_o[5]"      IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_PORT "ACC_o[4]"      IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_PORT "ACC_o[3]"      IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_PORT "ACC_o[2]"      IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_PORT "ACC_o[1]"      IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_PORT "ACC_o[0]"      IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_PORT "Done_o"        IO_TYPE=LVCMOS33 PULL_MODE=NONE;

